@font-face {
	font-family: "primary-font";
	src: url("../../fonts/fonts-files/lalezar-700.woff2") format("woff2"),
		 url("../../fonts/fonts-files/lalezar-700.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}
