@font-face {
	font-family: "secondary-font";
	src: url("../../fonts/fonts-files/dastnevis-400.woff2") format("woff2"),
		 url("../../fonts/fonts-files/dastnevis-400.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}
